<title>Xóa học viên khỏi lớp</title>
<% if(error?.length){ %>
    <label id="error-toast"><%= error %></label>
<% } %> <% if(success?.length){ %>
    <label id="success-toast"><%= success %></label>
<% } %>
<link rel="stylesheet" type="text/css" href="/assets/css/checkbox.css" />
<form
method="post"
>
    <table class="table table-bordered">
      <% if(students?.length){%> 
      <thead>
        <tr>
          <th width="5%" scope="col">STT</th>
          <th scope="col">Tên học viên</th>
          <th scope="col">Chọn</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach((student, index) => {%>
        

            <tr>
              <td><%= index+1 %></td>
              <td><%= student.name %></td>
              <td>
                <div class="checkbox-wrapper-23">
                  <input class="students" name="student" value="<%= student.id %>" type="checkbox" id="check<%= student.id %>" />
                  <label for="check<%= student.id %>" style="--size: 30px">
                    <svg viewBox="0,0,50,50">
                      <path d="M5 30 L 20 45 L 45 5"></path>
                    </svg>
                  </label>
                </div>
              </td> 
            </tr>
     
        
        <% }) %>
      </tbody>
    
      <% }else{%>
        <h1>Không có học viên</h1>
      <%} %>
    </table>
    <div class="d-flex">
      <button type="submit" style="display: none;" class="btn btn-danger delete mr-2">Xóa</button>
      <a href="/admin/manager/classes/students" class="btn btn-warning">Quay lại</a>
    </div>
 
    </form>
    

<script>

   const checkbox = document.querySelectorAll(".students");

   checkbox.forEach((c) => {

    c.addEventListener("click", (e) => {
      let checked = false
      checkbox.forEach((element, index) => {
        if(element.checked){
          checked = true
        }
      })
      if(!checked){
        document.getElementsByClassName("btn btn-danger delete")[0].style.display = "none"
      }
      else{
        document.getElementsByClassName("btn btn-danger delete")[0].style.display = "block"
      }
    });

   
  });
  const btnDelete = document.querySelectorAll(".btn.btn-danger.delete");
  btnDelete.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const value = confirm("Bạn có chắc chắn muốn xóa những học viên này?");
      if (!value) {
        e.preventDefault();
      }
    });
  });
  
</script>
    