<% if(error?.length){ %>
<label id="error-toast"><%= error[0].msg %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>
<h1>Sửa thông tin</h1>
<form action="" method="post" novalidate>
  <div class="col-md-10">
    <label class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      name="email"
      value="<%= user.email %>"
      placeholder="Email..."
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Tên</label>
    <input
      type="text"
      class="form-control"
      name="name"
      value="<%= user.name %>"
      placeholder="Tên..."
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Số điện thoại</label>
    <input
      type="text"
      class="form-control"
      name="phone"
      value="<%= user.phone %>"
      placeholder="Số điện thoại..."
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Địa chỉ</label>
    <input
      type="text"
      class="form-control"
      name="address"
      value="<%= user.address %>"
      placeholder="Địa chỉ..."
    />
  </div>

  <div class="col-10 mt-2">
    <button class="btn btn-warning col-1" type="submit">Sửa</button>
    <a href="/admin/manager/students" class="btn btn-danger">Quay lại</a>
  </div>
</form>
