<% if(error?.length){ %>
<label id="error-toast"><%= error[0].msg %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>
<h1>Sửa thông tin</h1>
<form action="" method="post" novalidate>
  <div class="col-md-10">
    <label class="form-label">Tên khóa học</label>
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Tên khóa học..."
      value="<%= course.name %>"
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Giá khóa học</label>
    <input
      type="text"
      class="form-control"
      name="price"
      placeholder="Giá khóa học..."
      onkeypress="return isNumber(event)"
      value="<%= course.price %>"
    />
  </div>
 
  <div class="col-md-10">
    <label class="form-label">Học thử</label>
    <% if(course.tryLearn){%>
    <select class="form-control" name="tryLearn" id="select">
        <option selected value="1">
          Có
        </option>  
        <option value="0">
          Không
        </option>  
    </select>
    <div class="tryLearn">
      <label class="form-label">Số buổi</label>
      <input
      type="text"
      class="form-control"
      name="numberOfSessions"
      placeholder="Số buổi..."
      value="<%= course.tryLearn %>"
      onkeypress="return isNumber(event)"
  
    />
    </div>
    <%}else{%>
      <select class="form-control" name="tryLearn" id="select">
        <option value="1">
          Có
        </option>  
        <option selected value="0">
          Không
        </option>  
    </select>
    <div class="tryLearn" style="display: none;">
      <label class="form-label">Số buổi</label>
      <input
      type="text"
      class="form-control"
      name="numberOfSessions"
      placeholder="Số buổi..."
      onkeypress="return isNumber(event)"
  
    />
    </div>
    <%} %>
   
  </div>

  <div class="col-md-10">
    <label class="form-label">Thời lượng học</label>
    <input
      type="text"
      class="form-control"
      name="duration"
      placeholder="Thời lượng học..."
      onkeypress="return isNumber(event)"
      value="<%= course.duration %>"
    />
  </div>
  <div class="col-10 mt-2">
    <button class="btn btn-warning col-1" type="submit">Sửa</button>
    <a href="/admin/manager/courses" class="btn btn-danger">Quay lại</a>
  </div>
</form>
<script>

  function isNumber(evt) {
    evt = evt ? evt : window.event;
    var charCode = evt.which ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      return false;
    }
    return true;
  }
  const select = document.querySelector("#select");
 
  select.addEventListener('change', (e) => {
  let selected = false
  if(+select.value){
    selected = true
  }

  if(selected){
    
    document.querySelector(".tryLearn").style.display = "block"
  }
  else{
    document.querySelector(".tryLearn").style.display = "none"
  }
  })
  
</script>
