<% if(error?.length){ %>
<label id="error-toast"><%= error[0].msg %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>
<h1>Thêm Lớp Học</h1>
<form action="" method="post" novalidate>
  <div class="col-md-10">
    <label class="form-label">Tên lớp học</label>
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Tên lớp học..."
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Số lượng học viên</label>
    <input
      type="text"
      class="form-control"
      name="quantity"
      placeholder="Số lượng học viên..."
      onkeypress="return isNumber(event)"
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Giảng viên</label>
    <select class="form-control" name="teacher">
      <% teachers.forEach(teacher => {%>
      <option value="<%= teacher.id %>"><%= teacher.name %></option>
      <% })%>
    </select>
  </div>
  <div class="col-md-10">
    <label class="form-label">Thời gian khai giảng</label>
    <input type="date" class="form-control" name="startDate" />
  </div>
  <div class="col-md-10">
    <label class="form-label">Thời gian bế giảng</label>
    <input type="date" class="form-control" name="endDate" />
  </div>
  <div class="col-md-10">
    <label class="form-label">Lịch học</label>
    <div>
      <% for(let i = 2; i<=8;i++){%>
      <input value="<%= i %>" type="checkbox" name="schedule" />
      <span class="mr-4"><%= getDay(i) %></span>

      <%} %>
    </div>
  </div>
  <label class="form-label">Thời gian học</label>
  <div class="col-md-10">
    <span class="form-label">Bắt đầu</span>
    <input type="time" class="form-control" name="timeLearnStart" />
    <span class="form-label">Kết thúc</span>
    <input type="time" class="form-control" name="timeLearnEnd" />
  </div>
  <div class="col-10 mt-2">
    <button class="btn btn-success col-1" type="submit">Thêm</button>
    <a href="/admin/manager/classes" class="btn btn-danger">Quay lại</a>
  </div>
</form>
<script>
  function isNumber(evt) {
    evt = evt ? evt : window.event;
    var charCode = evt.which ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      return false;
    }
    return true;
  }
</script>
