<title>Sửa lớp học</title>
<% if(error?.length){ %>
<label id="error-toast"><%= error[0].msg ?? error %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>
<link rel="stylesheet" type="text/css" href="/assets/css/checkbox.css" />
<h1>Sửa thông tin</h1>
<form action="" method="post" novalidate>
  <div class="col-md-10">
    <label class="form-label">Tên lớp học</label>
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Tên lớp học..."
      value="<%= classInfo.name %>"
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Số lượng học viên</label>
    <input
      type="text"
      class="form-control"
      name="quantity"
      placeholder="Số lượng học viên..."
      onkeypress="return isNumber(event)"
      value="<%= classInfo.quantity %>"
    />
  </div>

  <div class="col-md-10">
    <label class="form-label">Khóa học</label>
    <select class="form-control" name="course">
      <option value="<%= classInfo?.Course?.id ?? '' %>">
        <%=classInfo?.Course?.name ?? "Chưa có khoá học" %>
      </option>
      <% courses.forEach(course => {%>
          <option value="<%= course.id %>"><%= course.name %></option>
      <% })%>
    </select>
  </div>
  <div class="col-md-10">
    <label class="form-label">Giảng Viên</label>

    <select class="form-control" name="teacher">
      <option value="<%= classInfo?.User?.id %>" selected>
        <%= classInfo?.User?.name %>
      </option>
      <% if(teachers.length){%> <% teachers.forEach(teacher => {%>

      <option value="<%= teacher.id %>"><%= teacher.name %></option>
      <%}) %> <% } %>
    </select>
  </div>
  <div class="col-md-10">
    <label class="form-label">Thời gian khai giảng</label>
    <input
      type="date"
      class="form-control"
      name="startDate"
      value="<%= classInfo.startDate %>"
    />
  </div>

 
  <div class="col-md-10">
    <label class="form-label">Lịch học</label>
    <div class="d-flex justify-content-start">

      <% for(let i = 0; i<=6;i++){%>
        
        <% if(schedule[i] || schedule[i] === 0){%>
          
          <div class="checkbox-wrapper-23">
            <input value="<%= schedule[i] %>" type="checkbox" name="schedule" id="check<%= i %>" checked/>
            <label for="check<%= i %>" style="--size: 30px">
              <svg viewBox="0,0,50,50">
                <path d="M5 30 L 20 45 L 45 5"></path>
              </svg>
            </label>  
          </div>
          <span class="mr-4 ml-1"><%= getDay(schedule[i]) %></span>
            
        <%}else{%>
          <div class="checkbox-wrapper-23">
            <input value="<%= i %>" type="checkbox" name="schedule" id="check<%= i %>"/>
            <label for="check<%= i %>" style="--size: 30px">
              <svg viewBox="0,0,50,50">
                <path d="M5 30 L 20 45 L 45 5"></path>
              </svg>
            </label>  
          </div>

          <span class="mr-4 ml-1"><%= getDay(i) %></span>
        <%} %>
      
  
      <%} %>
        
     
    </div>
  </div>

  <label class="form-label">Thời gian học</label>
  <div class="col-md-10">
    <span class="form-label">Bắt đầu</span>
    <input
      type="time"
      class="form-control"
      name="timeLearnStart"
      value="<%= classInfo.timeLearn.slice(0,5) %>"
    />
  </div>

  <div class="col-10 mt-2">
    <button class="btn btn-warning col-1" type="submit">Sửa</button>
    <a href="/admin/manager/classes" class="btn btn-danger">Quay lại</a>
  </div>
</form>
<script>
  function isNumber(evt) {
    evt = evt ? evt : window.event;
    var charCode = evt.which ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      return false;
    }
    return true;
  }
</script>
