<% if(error?.length){ %>
<label id="error-toast"><%= error %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>

<table class="table table-bordered">
  <% if(classes?.length){%>
  <a href="/admin/manager/classes/add" class="btn btn-success mb-2">Thêm</a>
  <a href="/admin/manager/classes/export" class="btn btn-secondary mb-2 ml-2"
    >Export file(xlsx)</a
  >
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên lớp</th>
      <th scope="col">Sĩ số</th>
      <th width="10%" scope="col">Ngày khai giảng</th>
      <th scope="col">Ngày bế giảng</th>
      <th width="15%" scope="col">Lịch học</th>
      <th width="10%" scope="col">Thời gian học</th>
      <th width="10%" scope="col">Giảng viên</th>
      <th>Sửa</th>
      <th>Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% classes.forEach((c, index) => {%>
    <tr>
      <td><%= index+1 %></td>
      <td><%= c.name %></td>
      <td><%= c.quantity %></td>
      <td><%= c.startDate %></td>
      <td><%= c.endDate %></td>
      
      <%  if (c.classes_schedules?.length) {%>
        <% let schedule = "" %>
        <%  c.classes_schedules.forEach((e, index) => {%>
            <% if(index===c.classes_schedules.length-1){%>
              <% schedule += getDay(e.schedule)  %>
              <% return %>
            <%} %>
            <% schedule += getDay(e.schedule) + ", " %>
      
            <%});%>
            <td><%= schedule %></td>
          <%}else{%>
          <td><%= getDay(c.schedule) %></td>
          <%}%>
     

      <td><%= c.timeLearn %></td>
      <td>
        <%= Object.assign({}, c.Users)['0']?.name ?? "Chưa có giảng viên" %>
      </td>
      <td>
        <a
          href="/admin/manager/classes/edit/<%= c.id  %>"
          class="btn btn-warning edit"
          >Sửa</a
        >
      </td>
      <form action="/admin/manager/classes/delete/<%= c.id  %>" method="post">
        <td>
          <button type="submit" class="btn btn-danger delete">Xóa</button>
        </td>
      </form>
    </tr>
    <% }) %>
  </tbody>

  <% } %>
</table>
<script>
  const btnDelete = document.querySelectorAll(".btn.btn-danger.delete");
  btnDelete.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const value = confirm("Bạn có chắc chắn muốn xóa lớp học này?");
      if (!value) {
        e.preventDefault();
      }
    });
  });
</script>
