<% if(error?.length){ %>
<label id="error-toast"><%= error %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>

<form action="" class="mb-2">
  <div class="row">
    <div class="col-10">
      <input
        type="search"
        name="keyword"
        class="form-control"
        placeholder="Từ khóa tìm kiếm..."
        value="<%= req.query.keyword %>"
      />
    </div>
    <div class="col-2 d-grid">
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
  </div>
</form>
<table class="table table-bordered">
  <% if(classes?.length){%>
    <% user.Roles.forEach(role => {%>
      <% role.Permissions.forEach(permission => {%>
       <% if(permission.value.localeCompare("Thêm lớp học") === 0){%>
        <a href="/admin/manager/classes/add" class="btn btn-success mb-2 mr-2">Thêm</a>
         <%}%>
       <%});%>
     <%});%>

  <form action="/admin/manager/classes/import-excel" enctype="multipart/form-data"  method="POST" id="form">
      
    <input type="file" name="myFiles" id="files" hidden multiple/>
    <label for="files" class="btn btn-secondary">Import Excel</label>

  </form>
  <a href="/admin/manager/classes/export-excel" class="btn btn-secondary mb-2 ml-2"
  ><b>Export Excel</b></a>
  
  <thead>
    <tr>
      <% user.Roles.forEach(role => {%>
        <% role.Permissions.forEach(permission => {%>
         <% if(permission.value.localeCompare("Xóa lớp học") === 0){%>
          <th><input type="checkbox" id="deleteAll"/> </th>
           <%}%>
         <%});%>
       <%});%>
    
      <th scope="col">STT</th>
      <th scope="col">Tên lớp</th>
      <th scope="col">Sĩ số</th>
      <th scope="col">Ngày khai giảng</th>
      <th scope="col">Ngày bế giảng</th>
      <th scope="col">Lịch học</th>
      <th scope="col">Thời gian học</th>
      <th scope="col">Giảng viên</th>
      <th scope="col">Khóa học</th>
      <% user.Roles.forEach(role => {%>
        <% role.Permissions.forEach(permission => {%>
         <% if(permission.value.localeCompare("Sửa lớp học") === 0){%>
          <th>Sửa</th>
           <%}%>
         <%});%>
       <%});%>
       <% user.Roles.forEach(role => {%>
        <% role.Permissions.forEach(permission => {%>
         <% if(permission.value.localeCompare("Xóa lớp học") === 0){%>
          <th>Xóa</th>
           <%}%>
         <%});%>
       <%});%>

    </tr>
  </thead>
  <tbody>
    <% classes.forEach((c, index) => {%>
    <tr>
      <% user.Roles.forEach(role => {%>
        <% role.Permissions.forEach(permission => {%>
         <% if(permission.value.localeCompare("Xóa lớp học") === 0){%>
          <th><input type="checkbox" class="deleteCheck" value="<%= c.id %>"/> </th>
           <%}%>
         <%});%>
       <%});%>
      
      <td><%= ++offset %></td>
      <td><%= c.name %></td>
      <td><%= c.quantity %></td>
      <td><%= c.startDate %></td>
      <td><%= c.endDate %></td>
      
      <%  if (c.classes_schedules?.length) {%>
        <% let schedule = "" %>
        <%  c.classes_schedules.forEach((e, index) => {%>
            <% if(index===c.classes_schedules.length-1){%>
              <% schedule += getDay(e.schedule)  %>
              <% return %>
            <%} %>
            <% schedule += getDay(e.schedule) + ", " %>
      
            <%});%>
            <td><%= schedule %></td>
          <%}else{%>
          <td><%= getDay(c.schedule) %></td>
          <%}%>
     

      <td><%= c.timeLearn %></td>
     
      <td>
        <%= c?.User?.name ?? "Chưa có giảng viên" %>
      </td>
      <td><%= c?.Course?.name ?? "Chưa có khóa học" %></td>
      <% user.Roles.forEach(role => {%>
        <% role.Permissions.forEach(permission => {%>
         <% if(permission.value.localeCompare("Sửa lớp học") === 0){%>
          <td>
            <a
              href="/admin/manager/classes/edit/<%= c.id  %>"
              class="btn btn-warning edit"
            > <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
          </a>   
            
          </td>
           <%}%>
         <%});%>
       <%});%>
       <% user.Roles.forEach(role => {%>
        <% role.Permissions.forEach(permission => {%>
         <% if(permission.value.localeCompare("Xóa lớp học") === 0){%>
          <form action="/admin/manager/classes/delete/<%= c.id  %>" method="post">
            <td>
              <button type="submit" class="btn btn-danger delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
              </button>
            </td>
          </form>
           <%}%>
         <%});%>
       <%});%>
      
    </tr>
    <% }) %>
  </tbody>

  <% } %>
</table>
<div class="d-flex justify-content-between">

  <form
  id="deleteButton"
  action="/admin/manager/classes/deleteAll"
  method="post"
  style="display: none;" 
  >
  <input hidden value="" class="data" name="id"/>

  <button type="submit" class="btn btn-danger mt-2">
      Xóa đã chọn
  </button>
</form>
<% if (totalPage > 1) { %>
  <nav class="d-flex justify-content-end mt-2 ml-auto">
    <ul class="pagination">
      <% if (page > 1) { %>
      <li class="page-item">
        <a class="page-link" href="?page=<%= +page - 1 %>">Trước</a>
      </li>
      <% } %> <% for (let i = 1; i <= totalPage; i++) { %>
      <li class="page-item <%= +page === +i ? 'active': '' %>">
        <a class="page-link" href="?<%= getPaginateUrl(req, i) %>"><%= i %></a>
      </li>
      <% } %> <% if (page < totalPage) { %>
      <li class="page-item">
        <a class="page-link" href="?page=<%= +page + 1 %>">Sau</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>
<script>
  const btnDelete = document.querySelectorAll(".btn.btn-danger.delete");
  btnDelete.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      const value = confirm("Bạn có chắc chắn muốn xóa lớp học này?");
      if (!value) {
        e.preventDefault();
      }
    });
  });
  document.querySelector("#deleteButton").addEventListener("click", (e) => {
    const value = confirm("Bạn có chắc chắn muốn xóa những lớp học này?");
    if (!value) {
        e.preventDefault();
      }
  })

  const checkAll = document.querySelector("#deleteAll")
  const check = document.querySelectorAll(".deleteCheck")

  check.forEach((element, index) => {
    element.addEventListener('click', (e) => {
    let data = 0
    const id = []
    check.forEach((e)=>{
  
      if(e.checked){
        data+=1
        id.push(e.value)
      }
    })

    document.querySelector(".data").value = id

   
    if(data >0){
      document.querySelector("#deleteButton").style.display = "block"
    }
    if(data < 1 ){
      document.querySelector("#deleteButton").style.display = "none"
    }
    const length = '<%= classes.length %>'
  
    if(+length<5){
      if(data === +length ){
        checkAll.checked = true
      }
      if(data<+length){
        checkAll.checked = false
      }
    }else{
      if(data === 5 ){
        checkAll.checked = true
      }
      if(data<5){
        checkAll.checked = false
    }
    }
    
   
    })
  });

  checkAll.addEventListener('click', (e) => {
    let checked = false
    if(checkAll.checked){
      checked = true
    }
    if(checked){
      check.forEach(element => {
        element.checked = true
      });
      document.querySelector("#deleteButton").style.display = "block"
    }else{
    
      check.forEach(element => {
        element.checked = false
      });
      document.querySelector("#deleteButton").style.display = "none"
    }
  })
  document.getElementById("files").onchange = function() {
    document.getElementById("form").submit();
  };
</script>
