<% if(error?.length){ %>
    <label id="error-toast"><%= error[0].msg %></label>
<% } %> <% if(success?.length){ %>
    <label id="success-toast"><%= success %></label>
<% } %>

<h1><%= exerciseDetail.title  %></h1>

<%- exerciseDetail.content %>
<script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
<form id="form" action="" method="post">

    <textarea
      name="exercisesSubmit"
      placeholder="Viết câu trả lời của bạn..."
      id="editor"
    ></textarea>    

<div class="col-md-6">
    <button type="submit" class="btn btn-success mt-2 mr-2">Bình luận</button>
</div>

</form>

<h2 class="text-secondary mt-2 col-md-6">Bình luận</h2>
<% if(exercisesSubmit.length){%>
    <div class="col-md-10">
    <% exercisesSubmit.forEach(element => {%>
     
            <div class="d-flex justify-content-start mt-4">
                <label class="text-primary mr-2"><%= element.User["name"] %><%= getType(element.User["typeId"])  %>:</label>
                <div class="col-6">
                    <%- element.content  %>
                    <% if(comments.length){%>
                        <% comments.forEach(comment => {%>
                            <% if(comment.parentId === element.id){%>
                                <div class="d-flex justify-content-start">
                                    <label class="text-primary"><%= comment.User["name"] %><%= getType(comment.User["typeId"])  %>:</label>
                                    <div class="ml-2">
                                        <%- comment.content  %>
                                    </div>
                    
                                </div>
                            <%} %>
                       
                    <%}); %>
        
                    <%} %>
                </div>
               
            </div>
            
       
     
    <%}); %>
    
    </div>
    
<%}else{%>
    <p>Chưa có bình luận</p>
<%} %>
<div class="col-10 mt-2">

    <a href="/classes/<%= classId  %>/exercises" class="btn btn-danger">Quay lại</a>
</div>
<script src="/assets/js/wysiwyg.js"></script>