<title>Bài tập</title>
<% if(error?.length){ %>
  <label id="error-toast"><%= error[0].msg %></label>
  <% } %> <% if(success?.length){ %>
  <label id="success-toast"><%= success %></label>
  <% } %>
  
<% if(exercises.length){%>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tiêu đề</th>
        <th scope="col">Chi tiết</th>
      </tr>
    </thead>
    <tbody>
    <% exercises.forEach((exercise, index) => {%>
  
          <tr>
            <td><%= index + 1 %></td>
            <td><%= exercise.title %></td>
            <td>                  
              <a
              href="/classes/<%= classId  %>/exercises/<%= exercise.id  %>"
              class="btn btn-secondary"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
              </svg>
            </a>
            </td>
          </tr>
        
         
    <%}); %>
</tbody>
</table>



<%}else{%>
  <h1>Chưa có bài tập</h1>
<%} %>
<div class="col-10 mt-2">

  <a href="/classes" class="btn btn-danger">Quay lại</a>
</div>
