<title>Điểm danh</title>
<% if(error?.length){ %>
  <label id="error-toast"><%= error %></label>
  <% } %> <% if(success?.length){ %>
  <label id="success-toast"><%= success %></label>
  <% } %>
<% if(calendar.length){%>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Ngày học</th>
        <th scope="col">Điểm danh</th>
      </tr>
    </thead>
    <tbody>
    <% calendar.forEach(element => {%>
  
          <tr>
            <td><%=moment(element.scheduleDate).locale('vi').format('L')%></td>
            <td>
              <a
                href="/teacher/manager/classes/<%= classId %>/attendance/<%= element.id  %>"
                class="btn btn-success"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                  <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                </svg>
              </a>
            </td>
          </tr>
        
       
<%}); %>
</tbody>
</table>
<%}else{%>
  <%- include('../../layouts/template.not.data.ejs') %>
<%} %>

<div class="col-10 mt-2">
  <a href="/teacher/manager/classes" class="btn btn-danger">Quay lại</a>
</div>
