<title>Danh sách điểm danh</title>
<% if(error?.length){ %>
    <label id="error-toast"><%= error[0].msg %></label>
    <% } %> <% if(success?.length){ %>
    <label id="success-toast"><%= success %></label>
    <% } %>
<form action="" method="post" novalidate>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên học viên</th>
          <th scope="col">Điểm danh</th>
        </tr>
      </thead>
      <tbody>
      <% students.forEach((student, index) => {%>
    
            <tr>
              <td><%= index + 1 %></td>
              <td><%= student.User["name"] %></td>
              <td>
                <% let check = false %>
                <% dataAttendance.forEach(element => {%>
                    <% if(element.status && element.studentId === student.studentId){%>

                      <div class="checkbox-wrapper-22">
                        <label class="switch" for="check<%= student.studentId %>">
                          <input class="students" name="attendance" value="<%= student.studentId %>" id="check<%= student.studentId %>" type="checkbox" checked />
                          <div class="slider round"></div>
                        </label>
                        </div>
                        
                        <% check = true %>
                    <%} %>
                <%}); %>
                <% if(!check){%>
                  <div class="checkbox-wrapper-22">
                    <label class="switch" for="check<%= student.studentId %>">
                      <input class="students" name="attendance" id="check<%= student.studentId %>" value="<%= student.studentId %>" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                    
                <%} %>

              </td>
            </tr>
          
         
  <%}); %>
  </tbody>
  </table>
  
<div class="col-10 mt-2">
    <button class="btn btn-success mr-2" type="submit">Lưu điểm danh</button>
    <a href="/teacher/manager/classes/<%= classId %>/attendance" class="btn btn-danger">Quay lại</a>
</div>
</form>


<style>
  .checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper-22 .switch input {
    display:none;
  }

  .checkbox-wrapper-22 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-22 input:checked + .slider {
    background-color: #66bb6a;
  }

  .checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
  }
</style>
